<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.presentation.TiendacristalModelWizardID"
            name="%_UI_TiendacristalModelWizard_label"
            class="tiendacristal.presentation.TiendacristalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TiendacristalModelFile.gif">
         <description>%_UI_TiendacristalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.presentation.TiendacristalEditorID"
            name="%_UI_TiendacristalEditor_label"
            icon="icons/full/obj16/TiendacristalModelFile.gif"
            extensions="tiendacristal"
            class="tiendacristal.presentation.TiendacristalEditor"
            contributorClass="tiendacristal.presentation.TiendacristalActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.ui.presentation.UiModelWizardID"
            name="%_UI_UiModelWizard_label"
            class="tiendacristal.ui.presentation.UiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UiModelFile.gif">
         <description>%_UI_UiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.ui.presentation.UiEditorID"
            name="%_UI_UiEditor_label"
            icon="icons/full/obj16/UiModelFile.gif"
            extensions="ui"
            class="tiendacristal.ui.presentation.UiEditor"
            contributorClass="tiendacristal.ui.presentation.UiActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.ui.contenedorcrudproductos.presentation.ContenedorcrudproductosModelWizardID"
            name="%_UI_ContenedorcrudproductosModelWizard_label"
            class="tiendacristal.ui.contenedorcrudproductos.presentation.ContenedorcrudproductosModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContenedorcrudproductosModelFile.gif">
         <description>%_UI_ContenedorcrudproductosModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.ui.contenedorcrudproductos.presentation.ContenedorcrudproductosEditorID"
            name="%_UI_ContenedorcrudproductosEditor_label"
            icon="icons/full/obj16/ContenedorcrudproductosModelFile.gif"
            extensions="contenedorcrudproductos"
            class="tiendacristal.ui.contenedorcrudproductos.presentation.ContenedorcrudproductosEditor"
            contributorClass="tiendacristal.ui.contenedorcrudproductos.presentation.ContenedorcrudproductosActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.ui.contenedorcrudclientes.presentation.ContenedorcrudclientesModelWizardID"
            name="%_UI_ContenedorcrudclientesModelWizard_label"
            class="tiendacristal.ui.contenedorcrudclientes.presentation.ContenedorcrudclientesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContenedorcrudclientesModelFile.gif">
         <description>%_UI_ContenedorcrudclientesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.ui.contenedorcrudclientes.presentation.ContenedorcrudclientesEditorID"
            name="%_UI_ContenedorcrudclientesEditor_label"
            icon="icons/full/obj16/ContenedorcrudclientesModelFile.gif"
            extensions="contenedorcrudclientes"
            class="tiendacristal.ui.contenedorcrudclientes.presentation.ContenedorcrudclientesEditor"
            contributorClass="tiendacristal.ui.contenedorcrudclientes.presentation.ContenedorcrudclientesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.ui.contenedorcrudrealizarcompra.presentation.ContenedorcrudrealizarcompraModelWizardID"
            name="%_UI_ContenedorcrudrealizarcompraModelWizard_label"
            class="tiendacristal.ui.contenedorcrudrealizarcompra.presentation.ContenedorcrudrealizarcompraModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContenedorcrudrealizarcompraModelFile.gif">
         <description>%_UI_ContenedorcrudrealizarcompraModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.ui.contenedorcrudrealizarcompra.presentation.ContenedorcrudrealizarcompraEditorID"
            name="%_UI_ContenedorcrudrealizarcompraEditor_label"
            icon="icons/full/obj16/ContenedorcrudrealizarcompraModelFile.gif"
            extensions="contenedorcrudrealizarcompra"
            class="tiendacristal.ui.contenedorcrudrealizarcompra.presentation.ContenedorcrudrealizarcompraEditor"
            contributorClass="tiendacristal.ui.contenedorcrudrealizarcompra.presentation.ContenedorcrudrealizarcompraActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.ui.contenedorcrudpedido.presentation.ContenedorcrudpedidoModelWizardID"
            name="%_UI_ContenedorcrudpedidoModelWizard_label"
            class="tiendacristal.ui.contenedorcrudpedido.presentation.ContenedorcrudpedidoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContenedorcrudpedidoModelFile.gif">
         <description>%_UI_ContenedorcrudpedidoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.ui.contenedorcrudpedido.presentation.ContenedorcrudpedidoEditorID"
            name="%_UI_ContenedorcrudpedidoEditor_label"
            icon="icons/full/obj16/ContenedorcrudpedidoModelFile.gif"
            extensions="contenedorcrudpedido"
            class="tiendacristal.ui.contenedorcrudpedido.presentation.ContenedorcrudpedidoEditor"
            contributorClass="tiendacristal.ui.contenedorcrudpedido.presentation.ContenedorcrudpedidoActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.ui.contenedorpedidoviewpart.presentation.ContenedorpedidoviewpartModelWizardID"
            name="%_UI_ContenedorpedidoviewpartModelWizard_label"
            class="tiendacristal.ui.contenedorpedidoviewpart.presentation.ContenedorpedidoviewpartModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContenedorpedidoviewpartModelFile.gif">
         <description>%_UI_ContenedorpedidoviewpartModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.ui.contenedorpedidoviewpart.presentation.ContenedorpedidoviewpartEditorID"
            name="%_UI_ContenedorpedidoviewpartEditor_label"
            icon="icons/full/obj16/ContenedorpedidoviewpartModelFile.gif"
            extensions="contenedorpedidoviewpart"
            class="tiendacristal.ui.contenedorpedidoviewpart.presentation.ContenedorpedidoviewpartEditor"
            contributorClass="tiendacristal.ui.contenedorpedidoviewpart.presentation.ContenedorpedidoviewpartActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tiendaCristal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tiendacristal.domain.presentation.DomainModelWizardID"
            name="%_UI_DomainModelWizard_label"
            class="tiendacristal.domain.presentation.DomainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DomainModelFile.gif">
         <description>%_UI_DomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tiendaCristal -->
      <editor
            id="tiendacristal.domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="tiendacristal.domain.presentation.DomainEditor"
            contributorClass="tiendacristal.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

</plugin>
