<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="views.ControlViewPart"
            id="views.ControlViewPart"
            name="Control ViewPart">
      </view>
      <view
            class="views.CRUDClientesViewPart"
            id="views.CRUDClientesViewPart"
            name="CRUDClientesViewPart">
      </view>
      <view
            class="views.CRUDRealizarCompraCliente"
            id="views.CRUDRealizarCompraCliente"
            name="crudRealizarCompraCliente">
      </view>
      <view
            class="views.CRUDRelizarCompra"
            id="CRUDRelizarCompra"
            name="crudRelizarCompra">
      </view>
      <view
            class="views.CRUDCrearPedido"
            id="views.CRUDCrearPedido"
            name="CRUDCrearPedido"
            restorable="true">
      </view>
      <view
            class="views.PedidosViewPart"
            id="views.PedidosViewPart"
            name="PedidosViewPart">
      </view>
   </extension>
</plugin>
